/**
 * SASS styles for Featured Content Manager
 */
ul.sortable {
  margin: 0;
  padding: 0;
  min-height: 20px; }
  ul.sortable li {
    margin: -1px auto 0; }
    ul.sortable li.placeholder {
      position: relative;
      height: 42px;
      border: 1px dashed #dddddd;
      text-align: center; }
      ul.sortable li.placeholder.child {
        margin-left: 20px; }
    ul.sortable li .fcm-title {
      position: relative;
      overflow: hidden;
      height: 42px;
      background: #fff;
      color: #222;
      border: 1px solid #e5e5e5;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
      ul.sortable li .fcm-title .sidebar-parent-arrow {
        position: absolute;
        top: 0;
        right: 30px;
        width: 25px;
        bottom: 0;
        padding-top: 13px;
        cursor: pointer;
        background: #fff;
        box-shadow: -10px 0 10px 0 #fff;
        z-index: 999; }
        ul.sortable li .fcm-title .sidebar-parent-arrow:after {
          content: '\f325';
          left: 10px;
          font: 400 11px/1 dashicons;
          speak: none;
          display: inline-block;
          position: relative;
          color: #a0a5aa;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-decoration: none !important; }
      ul.sortable li .fcm-title .sidebar-name-arrow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        padding-top: 11px;
        cursor: pointer;
        background: #fff;
        box-shadow: -10px 0 10px 0 #fff;
        z-index: 998; }
        ul.sortable li .fcm-title .sidebar-name-arrow .toggle-indicator:after {
          content: '\f142';
          font: 400 20px/1 dashicons;
          color: #a0a5aa;
          vertical-align: top;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-decoration: none !important; }
      ul.sortable li .fcm-title .sidebar-delete-icon {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        padding-top: 11px;
        cursor: pointer;
        background: #fff;
        box-shadow: -10px 0 10px 0 #fff;
        z-index: 998; }
        ul.sortable li .fcm-title .sidebar-delete-icon:after {
          color: #a00;
          content: "\f335";
          font: 400 20px/1 dashicons;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          top: 12px;
          left: 1px; }
        ul.sortable li .fcm-title .sidebar-delete-icon:hover:after {
          color: red; }
      ul.sortable li .fcm-title h4 {
        margin: 0;
        padding: 15px;
        line-height: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none; }
    ul.sortable li .fcm-inside {
      background: #efefef;
      border-top: 0;
      padding: 1px 15px 15px;
      line-height: 16px;
      border: 1px solid #e5e5e5;
      border-top: none;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
      ul.sortable li .fcm-inside textarea, ul.sortable li .fcm-inside input[type=text] {
        width: 98%; }
      ul.sortable li .fcm-inside .edit-thumbnail img {
        max-width: 100%;
        max-height: 300px; }
    ul.sortable li .fcm-children {
      display: none;
      background: #efefef;
      border-top: 0;
      padding: 15px;
      line-height: 16px;
      border: 1px solid #e5e5e5;
      border-top: none;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
      ul.sortable li .fcm-children .sidebar-parent-arrow, ul.sortable li .fcm-children .fcm-children {
        display: none; }
      ul.sortable li .fcm-children .fcm-children {
        display: none !important; }
    ul.sortable li.closed > .fcm-inside {
      display: none; }
    ul.sortable li.parent > .fcm-children {
      display: block; }
    ul.sortable li.closed .fcm-title .sidebar-name-arrow .toggle-indicator:after {
      content: '\f140';
      font: 400 20px/1 dashicons;
      color: #a0a5aa;
      vertical-align: top;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-decoration: none !important; }
    ul.sortable li.parent .fcm-title .sidebar-parent-arrow:before {
      color: #ddd; }

.fcm-header {
  float: left; }

.publishing-action {
  padding-top: 10px;
  float: right;
  height: 50px; }

/**
 * Style for wp-link popup
 **/
#wp-link {
  padding: 15px !important; }

#fcm-wrapper ul.sortable li.sortableItem .sortable {
  margin-left: 20px; }

#search-panel {
  display: block !important; }

#how-to {
  margin-left: 0.4em !important; }

#link-options, #internal-toggle, #wp-link-search-toggle {
  display: none !important; }

#wp-link #link-options label span, #wp-link #search-panel label span.search-label {
  width: auto !important; }

#wp-link .submitbox {
  bottom: 30px !important; }

#wp-link .query-results {
  bottom: 90px !important;
  top: 105px !important; }

#wp-link .link-search-wrapper {
  margin: 12px 0 9px !important; }

/**
 * Theme Costomizer Styling
 **/
#available-featured-items {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: -301px;
  width: 300px;
  margin: 0;
  z-index: 1;
  background: 0 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-right: 1px solid #ddd; }
  #available-featured-items #available-featured-items-filter {
    padding: 8px 17px 7px 13px;
    border-bottom: 1px solid #e4e4e4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #available-featured-items #available-featured-items-filter input#featured-items-search {
      width: 100%; }
  #available-featured-items #featured-items-filter-result {
    padding: 0; }
    #available-featured-items #featured-items-filter-result ul {
      margin: 0;
      padding: 0; }
      #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item {
        position: relative;
        margin: 0;
        padding: 20px 15px 20px 60px;
        border-bottom: 1px solid #e4e4e4;
        cursor: pointer; }
        #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item:hover {
          background: #fafafa; }
        #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item h4 {
          margin: 0;
          padding: 0 0 5px;
          font-size: 14px; }
        #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item .featured-area-search-item-title {
          position: relative; }
        #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item .featured-area-search-item-title:before {
          content: "\f132";
          position: absolute;
          top: -1px;
          right: 100%;
          margin-right: 20px;
          width: 20px;
          height: 20px;
          color: #333;
          font: 400 20px/1 dashicons;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item.post .featured-area-search-item-title:before {
          content: "\f109"; }
        #available-featured-items #featured-items-filter-result ul li.featured-area-search-result-item.page .featured-area-search-item-title:before {
          content: "\f105"; }

a.add-featured-items {
  cursor: pointer;
  float: right;
  margin-left: 10px; }
  a.add-featured-items:before {
    content: "\f132";
    display: inline-block;
    position: relative;
    left: -2px;
    top: -1px;
    font: 400 20px/1 dashicons;
    vertical-align: middle;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

body.adding-featured-items a.add-featured-items {
  background: #eee;
  border-color: #929793;
  color: #32373c;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
  body.adding-featured-items a.add-featured-items:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
body.adding-featured-items #available-featured-items {
  left: 0; }
body.adding-featured-items #customize-preview {
  opacity: .4; }
body.adding-featured-items .wp-full-overlay-main {
  left: 300px; }
body.adding-featured-items .sidebar-delete-icon {
  display: inline-block !important; }
body.adding-featured-items .sidebar-name-arrow {
  display: none; }

/*# sourceMappingURL=customizer.css.map */
